@charset "utf-8";
/* My Custom CSS */

* {
    padding: 0;
    margin: 0;
}

body {
    background-color: #222222;
    font-family: sans-serif;
    width: 100%;
}

h2 {
    text-align: center;
    padding-bottom: 10px;
}

footer {
    background-image: linear-gradient(rgba(255, 255, 255, 0),rgba(255, 255, 255, 0.25));
    padding: 20px;
    color: white;
}

footer h6 {
    justify-content: space-between;
    padding: 0 40px;
}

/* Header */
.header {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.25)), url(../images/curtain-top.png);
    background-size: cover;
    background-position: center;
    position: relative;
    background-repeat: no-repeat;
    width: 100%;
    height: 300px;
}

.topheader {
    padding: 0 20% 20px;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

a img {
    max-width: 60px;
    padding: 0 10px;
}

.log_cart a {
    padding-right: 20px;
    color: white;
    font-size: 25px;
}

.calender {
    padding-left: 20px;
}

nav a {
    align-content: center;
    color: white;
    border: 5px solid green;
    padding: 5px 40px;
    background-color: #5f5f5f;
    width: 150%;
}

nav a:hover {
    text-decoration: none;
    background-color: green; 
}


nav li {
    margin: 0 5em;
}

.nav {
    justify-content: center;
}

.container-fluid {
    padding: 0;
}

.row {
    padding: 20px;
    width: 100%%;
}


/* Body */

.opener {
    justify-content: space-between; 
    width: 100%;
    color: white;
}

.content {
    padding: 30px 0px;
    text-align: center;
}

.vid {
    margin-bottom: 40px;
}

.content h6 {
    margin-bottom: 20px;
}

.content a {
    padding: 10px 20px;
    background-color: green;
    color: white;
    text-decoration: none;
    margin-left: 10px;
}

.content a:hover {
    background-color: #00ff0a;
}

.curtain {
    background-image: url(../images/curtain-side.png);
    background-size: cover;
    width: 30%;
}

.about {
    justify-content: center;
    color: white;
    padding-bottom: 10px;
    background-color: gray;
}

.aboutcont {
    font-size: 20px;
}

.aboutmes {
    padding: 20px;
    margin: 50px 0;
    background-color: #005703;
    
}

.reviews {
    margin-top: 100px;
    padding: 30px 0;
    background-color: cadetblue;
}

#Reviews {
    height: 140px;
}

#Reviews .carousel-inner {
    padding: 0 55px;
}

.prevphoto img {
    width: 450px;
}

.prevphoto2 img {
    width: 450px;
}

.upcoming {
    background-color: antiquewhite;
    padding: 20px 50px;
}

.upcoming h3 {
    text-align: center;
}


.eventcontent h4 {
    padding: 5px 10px;
    background-color: skyblue;
    text-align: center;
    color: white;
    margin: 0 100px;
    margin-bottom: 10px;
}

.eventcontent a {
    text-align: center;
}

.eventdisc img{
    padding-left: 25%;
}


.misc {
    padding: 0 20px 50px;
    justify-content: space-between;
}

.misc a {
    color: white;
    font-size: 20px;
}

.misc a:hover {
    color: lightgreen;
}

/* Calender */
.clearfix::after,
.calendar ol::after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}

.calendar {
    border-radius: 60px;
    color: white;
}


.calendar ol li {
    float: left;
    width: 14.28571%;
}

.calendar .day-names {
    border-bottom: 1px solid #eee;
}

.calendar .day-name li {
    text-transform: uppercase;
    margin-bottom: 0.5rem;
}

.calendar .days li {
    border-bottom: 1px solid #eee;
    min-height: 8rem;
}

.calendar .days li .date {
    margin: 0.5rem 0;
}

.calendar .days li:hover {
    background-color: rgba(128, 128, 128, 0.50);
}

.calendar .days li .event {
    font-size: 0.75rem;
    padding: 0.4rem;
    color: white;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    border-radius: 4rem;
    margin-bottom: 1px; 
}

.calendar .days li .event:hover {
    transform: scale(1.5);
    transition: 2s;
}

.calendar .days li .event.span-2 {
    width: 200%;
}

.calendar .days li .event.span-7 {
    width: 700%;
}

.calendar .days li .event.begin {
    border-radius: 1rem 0 0 1rem;
}

.calendar .days li .event.end {
    border-radius: 0 1rem 1rem 0;
}

.calendar .days li .event.clear {
    background: none;
}

.calendar .days li:nth-child(n=29) {
    border-bottom: none;
}

.calendar .days li .outside .date {
    color: #ddd;
}

.outside {
    opacity: 50%;
}

.modal {
    color: black;
}

.modal img {
    background-size: cover;
    position: relative;
    width: 100%;
}

.modal h3 {
    text-align: center;
}

/* Contact */
.contact h3, .contact h4 {
    text-align: center;
}

.contactinfo {
    padding-top: 20px;
}

.contact .btn {
    width: 50%;
    position: relative;
    left: 25%;
}

input [type=text], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
}

input, select {
    width: 30%;
}

label {
    padding-left: 20px;
}

/* Gallery */
.galleryshow {
    padding: 0 10%;
    align-items: center;
}

.galleryshow img {
    max-width: 350px;
}

.showcontent, .showcontent button {
    color: white;
}

.showcontent {
    padding-left: 20px;
}

.galheader h1, .galheader h3{
    color: white;
    text-align: center;
    margin-top: 20px;
}

.galheader select {
    width: 10%;
}

.galcontent p {
    padding: 0 10%;
}
.galimg {
    padding-top: 30px;
}

.galimg a:hover{
    opacity: 50%;
}

/* About US */
.aboutbody {
    padding-bottom: 10px;
}

.aboutbody h1 {
    text-align: center;
    padding: 40px 0;
    color: white;
}

.aboutbody h2 {
    text-shadow: 0 10px 20px rgba(0, 0, 0, 0.50);
}

.contentbox {
    background-color: #faf7d7;
    box-shadow: 10px;
    padding: 30px;
    box-shadow: 0 10px 30px 10px rgba(0, 0, 0, 0.50);
}

.aboutcontainer {
    width: 50%;
}

.aboutcontainer h3 {
    text-align: center;
}

.aboutcontent {
    padding: 50px 0;
    align-items: center;
}

.filler {
    padding: 0 5%;
}

.filler img {
    width: 100%;
    box-shadow: 0 10px 30px 10px rgba(0, 0, 0, 0.50); 
}

/* Shop */
.showinfo {
    padding: 0 10%;
}



@media screen and (max-width: 600px) {
    
    
    /* general */
    
    .navbar {
        color: white;
    }
    
    .calender, .log_cart {
        display: none;
    }
    
    .topheader img {
        display: none;
    }
    
    .logo {
        background-image: url(../images/STC-Logo.png);
        height: auto;
        width: 50%;
        background-size: cover;
    }
    
    .jumbotron {
        flex-flow: column;
    }
    
    /* index */
    
    .curtain, .prevphoto, .prevphoto2 {
        display: none;
    }
    
    .event {
        flex-flow: column;
    }
    
    .vid {
        width: 50%;
    }
    
    /* gallery */
      
    .galleryshow {
        flex-flow: column;
    }
    
    .galleryshow img {
        padding-bottom: 20px;
    }
    
    .galleryshow .modal-body {
        flex-flow: column;
    }
    
    /* about us */
    
    .filler {
        display: none;
    }
    
    .aboutcontainer {
        width: 100%;
    }
    
    /* calender */
    
    
    
    /* contact */
    
    .contact {
        flex-flow: column;
    }
    
    /* shop */
        
    .shopcontent select {
        width: auto;
    }
    
    /* footer */
    
    
    
  }

